<html>
    <head>
        <title>Home paaage</title>
    </head>
    <body>
        <div>
            <h1><a href="/">This is BeBetter home page</a></h1>
        </div>

        <div>
            <h2><a href="">Be Better</a></h2>
            <p>Философия Быть Лучше в том, что если ты не идёшь вперёд, не становишься лучше - то ты в лучшем случае стоишь на месте. По сравнению с тобой, идущей вперёд, ты становишься всё хуже и хуже: чтобы этого избежать, надо всё время пытаться быть лучше, чем ты есть и расти над собой.</p>
        </div>

    </body>
</html>
