{% extends 'base.html' %}
    {% block title %}
        Be Better Официальный магазин - пока не работает
    {% endblock %}

    {% block content %}
    <main><div class="col-xs-12">
        <div class = "header">
            <p>Философия Быть Лучше в том, что если ты не идёшь вперёд, не становишься лучше - то ты в лучшем случае стоишь на месте. По сравнению с тобой, идущей вперёд, ты становишься всё хуже и хуже: чтобы этого избежать, надо всё время пытаться быть лучше, чем ты есть и расти над собой.</p>
        </div>
    </div></main>
    {% endblock %}
